body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}
.top {
  height: 10vh;
  background-color: #eafcfd;
  filter: brightness(80%);
}
.bg {
  height: 90vh;
  width: 100vw;
  box-sizing: border-box;
  background: url("./images/index/style2/background.svg");
  background-color: #eafcfd;
  background-size: auto 100vh;
  filter: brightness(80%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  animation: drive 50s linear infinite;
  align-self: flex-end;
}
@keyframes drive {
  0% {
    background-position-x: 500rem;
  }
  50% {
    background-position-x: 250rem;
  }
  100% {
    background-position-x: 0rem;
  }
}
.car {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  animation: go 10s linear infinite;
}
.car img {
  height: 70%;
}
@keyframes go {
  0% {
    transform: translateX(-70rem);
  }
  50% {
    transform: translateX(0rem);
  }
  100% {
    transform: translateX(70rem);
  }
}
.text {
  position: absolute;
  height: 100vh;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  align-self: center;
  justify-self: center;
  color: white;
  text-align: center;
}
.text h1,
.text h4,
.text .btn {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text .btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 20%;
  margin-top: 0.5rem;
  margin-bottom: 5rem;
}

.text h1 {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 3.1rem;
}
.text h4 {
  font-family: monospace;
  font-weight: 100;
  font-size: 1rem;
}

.btn button {
  /* background: linear-gradient(
    99.24deg,
    #ffffff -34.8%,
    rgba(255, 255, 255, 0) 108.51%
  );
  box-shadow: -10px -10px 40px rgba(255, 255, 255, 0.69),
    20px 20px 40px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  border: none; */
  border: 0.2rem solid white;
  background-color: transparent;
  border-radius: 100px;
  margin: 1rem;
  width: 5rem;
  height: 5rem;
  transition: 0.3s linear;
  background: url("./images/index/style2/explore.svg");
  background-size: 3rem 3rem;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn button h3 {
  display: none;
  color: white;
  font-family: "Major Mono Display", monospace;
  font-size: 1.3rem;
  text-transform: lowercase;
}
.btn button:nth-child(2) {
  background: url("./images/index/style2/expert.svg");
  background-size: 3.2rem 3.2rem;
  background-repeat: no-repeat;
  background-position: center;
}
.btn button:nth-child(3) {
  background: url("./images/index/style2/customer.svg");
  background-size: 3rem 3rem;
  background-repeat: no-repeat;
  background-position: center;
}
.btn:hover button:not(:hover) {
  width: 0;
  height: 0;
  margin: 1rem;
  padding: 0;
  background-position: left;
}
.btn button:hover {
  cursor: pointer;
  width: 100%;
  height: 4rem;
  margin: 0;
  padding: 1rem;
  background: white;
}
.btn button:hover h3 {
  display: block;
  color: #86b2f5;
}
.btn button:active {
  background: #86b2f5;
}
.btn button:active h3 {
  color: white;
}
.theme button,
.text h6 {
  background: none;
  border: none;
  font-family: monospace;
  font-weight: 100;
  font-size: 2rem;
  cursor: pointer;
  color: rgba(256, 256, 256, 1);
  transition: 0.15s linear;
}
.theme button:hover,
.text h6:hover {
  opacity: 0.4;
}
.sun {
  display: none;
}
